<p id="notice"><%= notice %></p>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class = "update-stamp"><%= l @post.updated_at, format: :short%></p>
    <p class="card-text"><%= @post.content.html_safe %></p>
    <hr>
    <%= link_to 'Edit', edit_admin_post_path(@post), class: "btn btn-outline-primary" %>
    <%= link_to 'Destroy', admin_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
  </div>
</div>
<%= link_to 'Back', admin_posts_path %>