<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div>
  
  <div class="field form-group">
    <%= form.label :content %>
    <%= form.text_area :content , 'data-provider': :summernote, class:"form-control" %>
  </div>
  
  <%= link_to new_tag_path, class: "btn p-0 text-dark", remote: true do %>
    <i class="fas fa-plus align-middle pr-1"></i><span class="align-middle">Tags</span>
  <% end %>
  
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>