<p id="notice"><%= notice %></p>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class = "update-stamp"><%= l @post.updated_at, format: :short%></p>
    <p class="card-text"><%= @post.content.html_safe %></p>
  </div>
  <hr>
  <div class="card-body">
    <h3>コメント<span><%= @comments.size %>件</span></h3>
    <% if @comments.any? %>
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    <% else %>
      <p>コメントはまだありません。</p>
    <% end %>
    
  </div>
  
</div>



<%= form_with model: [@post, @comment], remote: true do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <div class="form-group">
    <%= f.label :comment_content, "コメントを書く" %>
    <%= f.text_area :comment_content, class: "form-control" %>
  </div>
  
  <div class="actions text-center">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>